:root {
  font-size: 16px;
  box-sizing: border-box; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

body {
  height: 100vh;
  background: #8000ff;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  color: white; }

ul {
  list-style-type: none; }

section,
header {
  margin: 0 auto;
  width: 70%; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header a {
    color: white;
    text-decoration: none;
    padding: 2em; }
  header a.logo {
    font-weight: bold;
    font-size: 1.25em;
    padding: 0; }
  header nav ul {
    display: flex; }
    header nav ul a {
      display: block;
      padding: 2.5em 1.5em; }
    header nav ul li.active a {
      font-weight: bold;
      background: white;
      color: black;
      margin-left: 2em;
      padding: 2.5em; }

h1 {
  font-size: 4rem;
  width: 40%;
  line-height: 5rem;
  margin-left: 2em;
  margin-top: 2.5em; }

@media screen and (max-width: 900px) {
  h1 {
    font-size: 3rem; } }

/* overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  display: grid;
  grid-template-columns: 75% auto 6em;
  opacity: 0;
  transform: translateX(10%) scale(0.9);
  pointer-events: none; }

left,
right,
middle {
  height: 100vh;
  transform: translateX(10%);
  opacity: 0; }

h2 {
  color: #8000ff;
  font-size: 5rem;
  margin: 0; }

.left {
  padding: 4em 10em; }
  .left p.subhead {
    color: black;
    font-size: 1.5rem;
    margin-top: 0.5em; }
  .left .cards {
    display: flex;
    margin-top: 2em; }
    .left .cards .card {
      padding: 2em;
      box-shadow: 15px 15px 53px rgba(128, 0, 255, 0.11);
      border-radius: 0.5em; }
      .left .cards .card strong {
        color: black; }
      .left .cards .card p {
        color: #393241; }
      .left .cards .card:nth-of-type(2) {
        margin-left: 2em; }
      .left .cards .card .cta {
        padding: 0.5em 1em;
        border-radius: 0.3em;
        text-decoration: none;
        background: #8000ff;
        margin-top: 1em;
        display: inline-block;
        color: white;
        font-weight: bold; }
      .left .cards .card .pay-once {
        margin-top: 2.3em;
        background-color: #ead5ff;
        color: #8000ff; }

.middle {
  padding-top: 7em; }
  .middle a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    display: block; }
  .middle .secondary a:hover {
    color: #8000ff; }
  .middle .social-nav {
    margin-top: 3em;
    display: flex;
    gap: 1em; }
  .middle a:hover svg path {
    fill: #8000ff; }

.right {
  background: #8000ff;
  display: grid;
  justify-content: center; }
  .right .exit {
    cursor: pointer;
    margin-top: 1em; }
